/* design to dashboard page */

body{
    background-color: beige;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    height: 90px;
    background-color: #D83D3D;
    align-items: center;
    justify-content: space-between;
  }
  .headerControls{
    display: flex;
    align-self: center;
    margin-right: 35px;
  }
  
  .header .logo {
    text-decoration: none;
    color: white;
    font-size: 3em;
    padding: 0.5em 1em;
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
  }
  
  .header .logo span {
    font-style: italic;
    font-family: 'Anton', sans-serif;
  }

.img{
    width: 50px;
    height: 50px;
    border-radius: 25px; 
    /* margin-left: 1100px;  */
    /* margin-top: 20px; */
  
  }  
  .iconLogOut{
    margin-left: 20px; 
  font-size: 26px;
  padding: 5px;
  }  
  
  .subtitle{
   background-color: beige; 
   margin-left: 20px;  
  
   
  } 
  
  .imgProfile{
    width: 50px;
    height: 50px; 
   
  }  
  
  .labelA{
    padding-left: 30px; 
    
  }  
  .container{
    display: flex; 
  
  } 
  
  .asideSection{
    display: flex;
  }
  
  .holderName{
  
    color: #B4BBBF; 
    margin-left: 30px;
  } 
  
  .moveName{
    margin-left: 30px;
  } 
  
  .div3{
    margin-left: 70px; 
    margin-top: 15px;
  
  } 
  
  .AccNum{ 
    color: #B4BBBF;  
    padding-right: 20px;
   
  
  } 
  .main{
    background-color: beige; 
    margin-top: 20px; 
    margin-left: 209px; 
    
  } 
  
  .tableT{
    margin-right: 800px;
    margin-top: 20px;
  }  
  
  
  
  .myTable{
    margin-left: 280px; 
    margin-top: 30px; 
    border-collapse:separate;
   border-spacing:0 15px;
  } 
  
  th{
    padding-left: 50px;  
    border-bottom: 1px solid #99A5AA;
  } 
  
  td{
    padding-left: 50px; 
    border-bottom: 1px solid #99A5AA;
  
  }
  
  .div1{
    padding-left: 30px; 
    margin-top: 10px;
  } 
  
  .div2{
    margin-top: 15px;  
    
    
  }
  
  .sideBar{
    background-color: beige; 
    width: 200px;  
    height: 100%;
   
    
  
  }  
  .move{
    margin-left:30px; 
    padding-top: 25px;
   
  
  }
  
  
  
  .label1{
    margin-right: 10px;
  } 
  
  .fundImg{ 
    width: 20px; 
    height: 20px;
    margin-left:30px; 
    margin-top: 25px; 
  
  } 
  
  .carde{
    margin-left: 250px; 
    margin-top: 80px;
  } 
  
  .iconCard{
    padding-left: 100px;
  } 
  
  .charts{
   width: 500px; 
   margin-bottom: 50px;
   
  } 
  .leftAside{
    float: right; 
    margin-right: 20px ;  
    margin-top: 30px; 
    
   
  }  
   
  .borderDiv1{
    border: 1px solid black; 
    padding-left: 10px; 
    padding-bottom: 10px;
    padding-top: 10px;
  
  } 
  
  .borderdiv2{
    border: 1px solid black; 
    padding-left: 10px; 
    padding-bottom: 10px; 
    margin-top: 20px;
     padding-top: 10px;
  }
  
  
  .c-num{
    margin-left: 10px;
  } 
  .moveDiv{
    margin-top: 30px;
  } 
  
  .moveLabel{
    margin-left: 50px; 
    color: red;
  } 
  .divCredit{
    padding-top: 20px; 
  
  }  
  
  .styleImg{
    width: 50px; 
    margin-left: 10px; 
    
  }  
  
  .moveTT{
    padding-top: 18px;
  }
  
  .container1{
    display: flex;
  } 
  
  
  
  .moveBtn{
    margin-left: 50px; 
    margin-top: 30px;
  }  
  
  
  
  .btn1{
    background-color: #D83D3D; 
    border-radius: 10px;  
  
    color: white ; 
    font-size:medium; 
    border-color: transparent;
  
  }  
  