@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
$headerBackgroundColor: #D83D3D;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    height: 90px;
    background-color: $headerBackgroundColor;

    .logo {
        text-decoration: none;
        color: white;
        font-size: 3em;
        padding: 0.5em 1em;
        font-family: 'Pacifico', cursive;
        font-weight: lighter;


        span {
            font-style: italic;
            font-family: 'Anton', sans-serif;
        }
    }
}

#logo {
    text-align: center;
}

body {
    background-color: #f0f0f0;
}


.main {
    position: relative;
    justify-content: center;
    align-items: center;

    .signInAria {
        position: absolute;
        top: 15px;
        margin-bottom: 10px;
        right: 20px;
        background-color: white;
        width: 40%;


        padding: 2em;
        margin-top: 40px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;

        form {

            padding: 10px 30px;

            .inputDiv {
                width: 100%;
                height: 50px;
                background-color: rgb(233, 221, 221);
                margin: 10px 0;
                border: 2px solid $headerBackgroundColor;
                border-radius: 50px;
                align-items: center;

                i {
                    flex: 1;
                    text-align: center;
                    color: #666;
                    font-size: 1.1em;
                }

                input {
                    flex: 5;
                    background: none;
                    border: none;
                    outline: none;
                    width: 50%;
                    font-size: 1em;
                    color: #444;
                }

                label {
                    padding-left: 0.5em;
                }





            }

            .btnDiv {



                .signIn {
                    background-color: $headerBackgroundColor;
                    text-align: center;
                    padding: 0.5em;
                    margin: 0.8em 0;
                    color: white;
                    font-weight: border;
                    width: 21em;
                    height: 2.5em;
                    border: 1px solid $headerBackgroundColor;
                    font-size: 1.2em;
                    border-radius: 0.6em;
                    text-transform: uppercase;
                    cursor: pointer;
                }

                .signIn:hover {
                    background-color: rgb(83, 5, 15);
                }

                .special_txt {
                    margin: 0;
                    color: red;
                    font-weight: bold;
                    text-decoration: none;

                }

                .signUp {
                    text-decoration: none;
                }

                .signUp,
                .reset {
                    background-color: rgb(6, 6, 68);
                    text-align: center;
                    padding: 0.5em;
                    margin: 0.8em 0;
                    color: white;
                    font-weight: border;
                    width: 21em;
                    height: 2.5em;
                    border: 1px solid rgb(6, 6, 68);
                    font-size: 1.2em;
                    border-radius: 0.6em;
                    text-transform: uppercase;
                }

                .signUp:hover {
                    background-color: rgb(27, 54, 206);
                    cursor: pointer;
                }

                .reset:hover {
                    background-color: rgb(27, 54, 206);
                    cursor: pointer;
                }
            }


        }
    }

    .mainSvg {
        width: 100%;

        h1 {
            padding: 0.5em 3em 0 1em;
            color: rgb(49, 50, 70);
            font-size: 3.1em;
            font-family: 'Bebas Neue', cursive;

            span {
                font-family: 'Pacifico', cursive;
                font-size: 0.5em;
                color: #D83D3D;
                font-weight: lighter;
                position: relative;



            }

            span::before {
                content: '';
                position: absolute;
                width: 11em;
                background-color: rgb(123, 148, 123);
                height: .2em;
                bottom: 0;
                z-index: -1;





            }
        }

        img {
            position: absolute;
            max-width: 450px;
            left: 280px;
            top: 250px;

        }

        .img1 {
            position: absolute;
            width: 600px;
            height: 280px;
            left: 380px;
            top: 220px;
        }

        .img2 {
            position: absolute;
            width: 550px;
            height: 230px;
            left: 230px;
            top: 180px;
        }
    }

    h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 1.2em;
        margin: 1em 0.4em;
        padding: 0.5em 0;
        color: rgb(145, 139, 139);
    }

    h4 {
        font-family: Arial, Helvetica, sans-serif;
        color: gray;
        font-size: 1.8em;
        opacity: 0.85;
        position: absolute;
        top: 420px;
        margin: 0.1em 1.5em;
        padding-top: 5em 0;


    }

    .h41 {
        font-size: 4.1em;
        margin: 0.2em 0.6em;
        font-family: cursive;
        font-weight: lighter;
    }

    form,
    img,
    h1 {
        animation: fadeIn 2s forwards;
    }
}

// Adding some differenet Animations to each header and image in each page
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2em);
    }

    to {
        opacity: 1;
        transform: translateY(0);

    }
}

form,
h4,
.h41 {
    animation: fadeIn1 2s forwards;
}

@keyframes fadeIn1 {
    from {
        opacity: 0;
        transform: translatex(-2em);
    }

    to {
        opacity: 1;
        transform: translatex(0);

    }
}

.h42 {

    color: rgb(3, 2, 100);
    padding: 0.2em;
    left: 320px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    animation-name: h42;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

@keyframes h42 {
    from {
        border: none;

    }

    to {

        border: rgb(231, 6, 6) dashed 2px;
    }
}


/*
@media only screen and (min-width: 350px) {

    .main {
        position: relative;

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.mainSvg {
    flex: 40%;
}

/* Main column */
.signInAria {
    flex: 60%;

}




/* Responsive layout - when the screen is less than 1200px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
    .main {
        flex-direction: column;



        .mainSvg {
            img {
                text-align: center;
            }

            .img1,
            .img2,
            .img3 {
                display: none;
            }

            h1 {
                font-size: 1.8em;
            }
        }

        .signInAria {
            margin-top: 10%;
            width: 100%;

            .inputDiv{
                min-width: 100%;
                display: flex;
                flex-direction: initial;
                input{
                    min-width: 100%;
                }
            }

            .btnDiv {

                .signIn,
                .signUp, .reset {
                    min-width: 100%;
                }
            }
        }


    }


}

*/


//         #logo {
//             width: 50%;
//         }
//     }
// }/// still not responsive 
*/


